<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para acceder a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sushiba"
        tools:targetApi="31">

        <!-- SplashActivity: La pantalla que aparece al abrir la app -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity: La pantalla que se muestra después de la SplashScreen -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Pantalla de registro -->
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />

        <!-- Pantalla principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Pantalla de perfil -->
        <activity
            android:name=".Activity_perfil"
            android:exported="false" />

        <!-- Pantalla Home -->
        <activity
            android:name=".PantallaHomeUramaki"
            android:exported="false" />

        <!-- Pantalla de pago -->
        <activity
            android:name=".activity_Pantalla_Pago"
            android:exported="true" />



    </application>

</manifest>
